<div class="container">
  <br/>
  <br/>
  <h4>Reportee Details</h4>
  <table class="table table-bordered">
    <thead style="background-color:darkcyan;">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Employee No</th>
        <!-- <th>Reporting</th> -->
        <th>Designation</th>
        <!-- <th>Department</th>
        <th>Organization</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reportee of reporteeData">
        <td>
          <p>{{reportee.Name}}</p>
        </td>
        <td>
          <p>{{reportee.Email}}</p>
        </td>
        <td>
          <p>{{reportee.EmployeeNo}}</p>
        </td>
        <!-- <td>
          <p>{{reportee.ReportingManager.Name}}</p>
        </td> -->
        <td>
          <p>{{reportee.Designation.Name}}</p>
        </td>
        <!-- <td>
          <p>{{reportee.Department.Name}}</p>
        </td>
        <td>
          <p>{{reportee.Organization.Name}}</p>
        </td> -->
        <td>
          <a [routerLink]="" (click)="Link(reportee)">Assign</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>