<div class="container">
  <h3>Reportee Details</h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Employee No</th>
        <th>Reporting</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Organization</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor="let reportee of reporteeData">
        <td>{{reportee.Name}}</td>
        <td>{{reportee.Email}}</td>
        <td>{{reportee.EmployeeNo}}</td>
        <td>{{reportee.ReportingManager.Name}}</td>
        <td>{{reportee.Designation.Name}}</td>
        <td>{{reportee.Department.Name}}</td>
        <td>{{reportee.Organization.Name}}</td>
      </tr>
    </tbody> -->
  </table>
</div>